/*Libre Carlson Text font*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

body {
	font-family: "Libre", sans-serif;
}

/*Global */

.btn {
	width: max-content;
	font-size: 1.3rem;
	font-weight: bold;
	padding: 1rem 2 rem;
	background: #4ECDC4;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 1rem;
}

.logo{


/*Navigation */

nav {
   width: 100vw;
   position: absolute;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 2rem;
	display: flex;
}



nav ul li {
	margin-left: 1rem;
}

nav ul li:first-child {
	margin-left: 0;
	margin-right: auto;
}

nav ul li a {
	 color: #fff;
	 text-decoration: none;
}

@media screen and (max-width: 600px) {
   nav ul {
   	    flex-direction; column;
   	}
}

/* Hero */

section.hero {
	width: 100vw;
	height:100vh;
	background: #EF4F01;
	color: #B41519;
	display:flex;
	flex-direction: column;
	justify-content: center;
	background: url("../images/hero.png");
	background-size: cover;
	background-position: center;
	padding-left: 3rem;
}

@media screen and (max-width: 600px) {
   section.hero { 
   	   height: 30rem;
   	   padding-left: 1rem;
}

h1 {
   font-size: 3rem;
   color:#ffff;
   max-width: 20rem;
