/*Libre Carlson Text font*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

   body{
	font-family: "Libre", sans-serif;

}

/*Global */

img {
	max-width:100%;
}
    
/* Navigation */

nav {
    width: 100vw;
    position: absolute;
}

nav ul {
	list-style: none;
	padding: 2;
	margin: 2rem;
	display: flex;
}

nav ul li {
	margin-left: 25rem;
	display: flex;
}

nav ul li:first-child {
	margin-left: 0;
	margin-right: auto;

}

nav ul li a {
	 color: #fff;
	 text-decoration: none;
}

@media screen and (max-width: 600px) {
   nav ul {
   	    flex-direction; column;
   	}
nav ul li{
	margin-left: 2;
    }

}

/* Hero */

section.hero {
	width: 100vw;
	height:100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 3rem;
	padding-bottom: 20rem;
}

section.hero h1 {
	font-size: 3rem;
	color: #ffff;
	max-width: 20rem;
}

@media screen and (max-width: 600px) {
   section.hero { 
   	   height: 30rem;
   	   padding-left: 1rem;
}

h1 {
   font-size: 64px;
   color:#ffff;
   max-width: 500px;

}
